@page
@model WebApplication2.Pages.Genre

@{
    ViewData["Genre"] = "Genre";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>

