@page
@model WebApplication2.Pages.Input

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
    <form method="post" asp-page-handler="Vraag">
        <input id="vraag" name="vraag"/>
        <button>FOEKE</button>
    </form>
</div>
</body>
</html>