@page
@model WebApplication2.Pages.Input

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
<div>
    
  <form method="post" asp-page-handler="Vraag">
    <input id="vraag" name="vraag"/>
    <button>FOEKE</button>
  </form>
</div>
<div>
  <form method="post" asp-page-handler="Antwoord">
    <input type="hidden" id="ultimate" name="ultimate" value="@Model.feedback"/>
    @if (Model.feedback != null)
    {
      int iterator = 0;
      foreach (var lists in Model.feedback)
      {
        
        if (iterator != 10)
        {
          if (iterator != 11)
          {
            foreach (var colums in lists)
            {
              <input type="hidden" id="antwoord" name="antwoord" value="@colums.Item2"/>
              <button>@colums.Item1</button>
            }
          }
        }
        iterator++;
      }
    }
  </form>
</div>
<div>
  @if (Model.answer != null)
  {
    foreach (var VARIABLE in Model.answer)
    {
      <p>@VARIABLE</p>
    }
  }
</div>
</body>
</html>
