@page
@model WebApplication2.Pages.Input

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
<div>
    
  <form method="post" asp-page-handler="Vraag">
    <input id="vraag" name="vraag"/>
    <button>FOEKE</button>
  </form>
</div>
<div>
  <form method="post" asp-page-handler="Antwoord">
    <input type="hidden" id="ultimate" name="ultimate" value="@Model.feedback"/>
    @if (Model.feedback != null)
    {
      foreach (var lists in Model.feedback)
      {
        if (lists != Model.feedback[10] || lists != Model.feedback[11])
        {
          foreach (var colums in lists)
          {
            <input type="hidden" id="antwoord" name="antwoord" value="@colums.Item2"/>
            <button>@colums.Item1</button>
          }
        }
      }
    }
  </form>
</div>
</body>
</html>
