@page
@model WebApplication2.Pages.Prediction

@{
	ViewData["Prediction"] = "Prediction";
}
<!DOCTYPE html>

<html>
<head>
	<title></title>
</head>
<body>
<div>
	<img src="~/Content/Rpred.png" alt="pred"/>
</div>
</body>
</html>