@page
@model WebApplication2.Pages.Prediction

@{
	ViewData["Prediction"] = "Prediction";
}
<!DOCTYPE html>

<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title></title>
</head>
<body>
<div id="chart" style="width:100%; height:100%;">
    
</div>

<div>
    <p id="prediction"></p>
</div>

</body>
</html>